# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django
media/
staticfiles/
*.log

# ML / Large model files
*.pt
*.onnx
*.h5

.runs/detect/
# Migrations cache
*/migrations/__pycache__/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
