# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# ML / Large model files
*.pt
*.onnx
*.h5

# Migrations cache
*/migrations/__pycache__/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

.runs/detect

# Jupyter
.ipynb_checkpoints/
